packages/code-analyzer-flowtest-engine/test/test-data/example workspaces/contains-multiple-flows/example4_parentFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_input_to_var</name>
        <label>assign_input_to_var</label>
        <locationX>617</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>parent_input_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>call_subflow</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>example4_parentFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>example4_parentFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_records</name>
        <label>get_records</label>
        <locationX>171</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SuppliedName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>call_subflow.output_var1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>display_subflow_result_in_parent</name>
        <label>display_subflow_result_in_parent</label>
        <locationX>279</locationX>
        <locationY>441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_records</targetReference>
        </connector>
        <fields>
            <name>display_result</name>
            <fieldText>&lt;p&gt;{!call_subflow.output_var1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>enter</name>
        <label>enter</label>
        <locationX>617</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_input_to_var</targetReference>
        </connector>
        <fields>
            <name>input_text</name>
            <dataType>String</dataType>
            <fieldText>input_text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>491</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>enter</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>call_subflow</name>
        <label>call subflow</label>
        <locationX>520</locationX>
        <locationY>488</locationY>
        <connector>
            <targetReference>display_subflow_result_in_parent</targetReference>
        </connector>
        <flowName>example4_subflow</flowName>
        <inputAssignments>
            <name>input_var1</name>
            <value>
                <elementReference>parent_input_var</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>parent_input_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
