packages/code-analyzer-flowtest-engine/test/test-data/example workspaces/contains-multiple-flows/example2-containsWithSharingViolations.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>another_case_holder</label>
        <locationX>476</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>another_case_holder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>change_subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>change_subj_assignment</name>
        <label>change_subj_assignment</label>
        <locationX>114</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>another_case_holder.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>change_subject_of_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_to_new_subject</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>case_record_crud_example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>case_record_crud_example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create_from_record</description>
        <name>create_case</name>
        <label>create_case</label>
        <locationX>1045</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>press_next</targetReference>
        </connector>
        <inputReference>case_holder</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_created_case</name>
        <label>delete_created_case</label>
        <locationX>247</locationX>
        <locationY>201</locationY>
        <connector>
            <targetReference>exit_screen</targetReference>
        </connector>
        <inputReference>another_case_holder</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_records</name>
        <label>get_records</label>
        <locationX>914</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>display_loaded_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_holder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_to_new_subject</name>
        <label>update_to_new_subject</label>
        <locationX>50</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>confirm_delete</targetReference>
        </connector>
        <inputReference>another_case_holder</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>change_subject</name>
        <label>change_subject</label>
        <locationX>328</locationX>
        <locationY>505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>change_subj_assignment</targetReference>
        </connector>
        <fields>
            <name>change_subject_of_case</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>another_case_holder.Subject</elementReference>
            </defaultValue>
            <fieldText>change subject of case</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirm_delete</name>
        <label>confirm_delete</label>
        <locationX>50</locationX>
        <locationY>202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>delete_created_case</targetReference>
        </connector>
        <fields>
            <name>confirm</name>
            <fieldText>&lt;p&gt;confirm delete&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>display_loaded_case</name>
        <label>display_loaded_case</label>
        <locationX>672</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <fields>
            <name>show_case</name>
            <fieldText>&lt;p&gt;Here is the case that was created:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;caseID: {!get_records.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;subject: {!get_records.Subject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>exit_screen</name>
        <label>exit_screen</label>
        <locationX>405</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>done</name>
            <fieldText>&lt;p&gt;done!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>populate_case_fields</name>
        <label>populate_case_fields</label>
        <locationX>830</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_case</targetReference>
        </connector>
        <fields>
            <name>case_intro</name>
            <fieldText>&lt;p&gt;Populate case info&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>case_holder.Status</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>case_holder.Origin</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>case_holder.Subject</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>press_next</name>
        <label>press next</label>
        <locationX>1084</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_records</targetReference>
        </connector>
        <fields>
            <name>screen2</name>
            <fieldText>&lt;p&gt;press next to load the case from the db&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>704</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>populate_case_fields</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>another_case_holder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>for create</description>
        <name>case_holder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>