packages/code-analyzer-flowtest-engine/flowtest/integration_test/test_data/assign_test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_input1</name>
        <label>assign input1</label>
        <locationX>538</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>var1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>template2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formula3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_records1</targetReference>
        </connector>
    </assignments>
    <description>test for assignment</description>
    <environments>Default</environments>
    <formulas>
        <name>formula1</name>
        <dataType>String</dataType>
        <expression>&quot;%&quot; + {!Enter_text}</expression>
    </formulas>
    <formulas>
        <description>nested formula example</description>
        <name>formula3</name>
        <dataType>String</dataType>
        <expression>{!formula1}+{!var2}</expression>
    </formulas>
    <interviewLabel>assign_test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>assign_test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_records1</name>
        <label>get_records1</label>
        <locationX>539</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>formula1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>var1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>var2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var4</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>var3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>start_screen</name>
        <label>Start Screen</label>
        <locationX>538</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_input1</targetReference>
        </connector>
        <fields>
            <name>Enter_text</name>
            <dataType>String</dataType>
            <fieldText>Enter text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>411</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>start_screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>template2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>my template{!var1}</text>
    </textTemplates>
    <textTemplates>
        <name>template3</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>another template</text>
    </textTemplates>
    <variables>
        <name>var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
