packages/code-analyzer-flowtest-engine/flowtest/integration_test/test_data/collections_example1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_accounts</name>
        <label>assign accounts</label>
        <locationX>799</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>filtered_accounts_stored_in_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteraccounts1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_filtered_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_immediately_after_get_records</name>
        <label>assign immediately after get records</label>
        <locationX>889</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>containerforassignedfromgetelem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records_by_name_input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>filteraccounts1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>concat</name>
        <label>concat</label>
        <locationX>396</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>accumulator_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>texttemplateforcurraccitem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_filtered_accounts</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>filteraccounts1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>filteraccounts1</label>
        <locationX>868</locationX>
        <locationY>334</locationY>
        <assignNextValueToReference>currentItem_filteraccounts1_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>get_records_by_name_input</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_filteraccounts1_0.CreatedDate</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <dateTimeValue>2000-10-01T07:00:00.000Z</dateTimeValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assign_accounts</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>sort_collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort_collection</label>
        <locationX>154</locationX>
        <locationY>130</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>holderoflookup3</collectionReference>
        <connector>
            <targetReference>update_rec</targetReference>
        </connector>
        <limit>3</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>AccountNumber</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <description>shows get records with default value and also collections filter and loops</description>
    <environments>Default</environments>
    <interviewLabel>collections_example1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>collections_example1</label>
    <loops>
        <name>loop_through_filtered_accounts</name>
        <label>loop through filtered accounts</label>
        <locationX>529</locationX>
        <locationY>504</locationY>
        <collectionReference>filtered_accounts_stored_in_var</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>concat</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>display_result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_records_by_name_input</name>
        <label>get records by name input</label>
        <locationX>688</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_immediately_after_get_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>enter_text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Now we choose option 2 - select records and let salesforce do the rest</description>
        <name>getaccount2</name>
        <label>getaccount2</label>
        <locationX>157</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getrecords3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>enter_text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AnnualRevenue</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>collections with 3 options -- manual assignment</description>
        <name>Getrecords3</name>
        <label>Getrecords3</label>
        <locationX>155</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sort_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>enter_text</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>holderoflookup3</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>AccountNumber</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>update with default</description>
        <name>update2</name>
        <label>update2</label>
        <locationX>297</locationX>
        <locationY>262</locationY>
        <inputReference>holderoflookup3</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_rec</name>
        <label>update_rec</label>
        <locationX>294</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>update2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>enter_text</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>my_template</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>display_result</name>
        <label>display result</label>
        <locationX>293</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getaccount2</targetReference>
        </connector>
        <fields>
            <name>displayitems</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>result: {!accumulator_var}</stringValue>
            </defaultValue>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>user_input</name>
        <label>user input</label>
        <locationX>536</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_records_by_name_input</targetReference>
        </connector>
        <fields>
            <name>enter_text</name>
            <dataType>String</dataType>
            <fieldText>enter text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>user_input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>user_input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>showinput</name>
                    <fieldText>&lt;p&gt;{!input_single.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>391</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>user_input</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>my_template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Account name is {!currentItem_filteraccounts1_0.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>texttemplateforcurraccitem</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;{!loop_through_filtered_accounts.AnnualRevenue}&lt;/p&gt; 
&lt;p&gt;{!loop_through_filtered_accounts.Name} &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accumulator_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>containerforassignedfromgetelem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_filteraccounts1_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>filtered_accounts_stored_in_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>holderoflookup3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>input_single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>inputcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
