packages/code-analyzer-flowtest-engine/flowtest/integration_test/test_data/test_sid_and_lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>example</description>
    <environments>Default</environments>
    <formulas>
        <name>retrievesession</name>
        <dataType>String</dataType>
        <expression>GETSESSIONID()</expression>
    </formulas>
    <interviewLabel>test_sid_and_lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test_sid_and_lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>get account by provided name</description>
        <name>get_accounts</name>
        <label>get_accounts</label>
        <locationX>517</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>output_search</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>enter_name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>test if we query loop against Id, if this means it&apos;s automatically a single record</description>
        <name>get_by_id</name>
        <label>get_by_id</label>
        <locationX>346</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>enter_name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>enter_text</name>
        <label>enter text</label>
        <locationX>517</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_accounts</targetReference>
        </connector>
        <fields>
            <name>enter_name</name>
            <dataType>String</dataType>
            <fieldText>enter name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>output_search</name>
        <label>output search</label>
        <locationX>517</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_by_id</targetReference>
        </connector>
        <fields>
            <name>output_search_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>output_search_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account Name:&lt;/strong&gt; {!get_accounts.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Created by: &lt;/strong&gt;{!get_accounts.CreatedBy.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;{!retrievesession}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>output_search_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>output_search_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display3</name>
                    <fieldText>&lt;p&gt;{!template_session}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>391</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>enter_text</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>template_session</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!retrievesession}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
