packages/code-analyzer-flowtest-engine/flowtest/test/test_data/flows/case_collections_crud_example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_ids_to_id_holder</name>
        <label>add_ids_to_id_holder</label>
        <locationX>650</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>ID_collection_holder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_get_ids_of_created_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_get_ids_of_created_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_get_records_to_clone</name>
        <label>assign_get_records_to_clone</label>
        <locationX>1228</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>get_records_clone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_to_change_subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_collection</name>
        <label>assign_to_collection</label>
        <locationX>696</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>case_holder_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>case_holder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>change_subj_assignment</name>
        <label>change_subj_assignment</label>
        <locationX>910</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>loop_to_change_subject.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>change_subject_of_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>display_assignment</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>case_collections_crud_example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>case_collections_crud_example</label>
    <loops>
        <name>loop_get_ids_of_created_cases</name>
        <label>loop get ids of created cases</label>
        <locationX>878</locationX>
        <locationY>379</locationY>
        <collectionReference>case_holder_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_ids_to_id_holder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>press_next</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_to_change_subject</name>
        <label>loop_to_change_subject</label>
        <locationX>1034</locationX>
        <locationY>907</locationY>
        <collectionReference>get_records_clone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>change_subject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_to_new_subject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>create_from_record</description>
        <name>create_case</name>
        <label>create_case</label>
        <locationX>1212</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>loop_get_ids_of_created_cases</targetReference>
        </connector>
        <inputReference>case_holder_collection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_created_case</name>
        <label>delete_created_case</label>
        <locationX>340</locationX>
        <locationY>932</locationY>
        <connector>
            <targetReference>exit_screen</targetReference>
        </connector>
        <inputReference>get_records_clone</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_records</name>
        <label>get_records</label>
        <locationX>1228</locationX>
        <locationY>629</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_get_records_to_clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ID_collection_holder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_to_new_subject</name>
        <label>update_to_new_subject</label>
        <locationX>742</locationX>
        <locationY>932</locationY>
        <connector>
            <targetReference>confirm_delete</targetReference>
        </connector>
        <inputReference>get_records_clone</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>change_subject</name>
        <label>change_subject</label>
        <locationX>790</locationX>
        <locationY>735</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>change_subj_assignment</targetReference>
        </connector>
        <fields>
            <name>change_subject_of_case</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>loop_to_change_subject.Subject</elementReference>
            </defaultValue>
            <fieldText>change subject of case</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirm_delete</name>
        <label>confirm_delete</label>
        <locationX>521</locationX>
        <locationY>933</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>delete_created_case</targetReference>
        </connector>
        <fields>
            <name>confirm</name>
            <fieldText>&lt;p&gt;Updates applied. Go check and now confirm delete&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>display_assignment</name>
        <label>display_assignment</label>
        <locationX>1046</locationX>
        <locationY>703</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_to_change_subject</targetReference>
        </connector>
        <fields>
            <name>display_debug</name>
            <fieldText>&lt;p&gt;screen var is: {!change_subject_of_case}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>show_new_subj</name>
            <fieldText>&lt;p&gt;loop variable is: {!loop_to_change_subject.Subject}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ID is: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!loop_to_change_subject.Id}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>exit_screen</name>
        <label>exit_screen</label>
        <locationX>50</locationX>
        <locationY>932</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>done</name>
            <fieldText>&lt;p&gt;done!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>populate_case_fields</name>
        <label>populate_case_fields</label>
        <locationX>698</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_to_collection</targetReference>
        </connector>
        <fields>
            <name>case_intro</name>
            <fieldText>&lt;p&gt;Populate case info&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>case_holder.Status</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>case_holder.Origin</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>case_holder.Subject</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>press_next</name>
        <label>press next</label>
        <locationX>1213</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_records</targetReference>
        </connector>
        <fields>
            <name>screen2</name>
            <fieldText>&lt;p&gt;press next to load the case from the db&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>871</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>populate_case_fields</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>another_case_holder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>for create</description>
        <name>case_holder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>collection version to hold cases in input text creation</description>
        <name>case_holder_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>get_records_clone</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>stores IDs of cases</description>
        <name>ID_collection_holder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
