packages/code-analyzer-flowtest-engine/flowtest/test/test_data/flows/collection_choice_set_example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_picklist_to_var</name>
        <label>assign_picklist_to_var</label>
        <locationX>60</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>choice_unpack</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>my_picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>stage_assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_stage</name>
        <label>assign_stage</label>
        <locationX>689</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>first_stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_account_recs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>stage_assign</name>
        <label>stage_assign</label>
        <locationX>60</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flow_stage_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>display</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>my_collection_choice_set</name>
        <collectionReference>get_account_recs</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Description</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Due to an idiosyncrasy of collection choice elements, you need to pass it to a variable or other field to reach the choice value out.</description>
        <name>choiceformula</name>
        <dataType>String</dataType>
        <expression>{!my_picklist}</expression>
    </formulas>
    <interviewLabel>collection_choice_set_example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>collection_choice_set_example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>to be used in collection choice set</description>
        <name>get_account_recs</name>
        <label>get_account_recs</label>
        <locationX>478</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ask_choice</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2000-01-01T08:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ask_choice</name>
        <label>ask_choice</label>
        <locationX>301</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_picklist_to_var</targetReference>
        </connector>
        <fields>
            <name>ask_choice_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ask_choice_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display_stage_screen1</name>
                    <fieldText>&lt;p&gt;{!first_stage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>current_stage_in2</name>
            <fieldText>&lt;p&gt;Current Stage: {!$Flow.CurrentStage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ask_choice_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ask_choice_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>my_picklist</name>
                    <choiceReferences>my_collection_choice_set</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>my_picklist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>display</name>
        <label>display</label>
        <locationX>307</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_current_2</name>
            <fieldText>&lt;p&gt;flow current stage:{!$Flow.CurrentStage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>display_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>choice_value_screen</name>
                    <fieldText>&lt;p&gt;picklist is: {!my_picklist}&lt;/p&gt;&lt;p&gt;after passing to formula: {!choiceformula}&lt;/p&gt;&lt;p&gt;after passing to variable: {!choice_unpack}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <description>first stage</description>
        <name>first_stage</name>
        <isActive>true</isActive>
        <label>first_stage</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <description>second stage</description>
        <name>flow_stage_2</name>
        <isActive>true</isActive>
        <label>flow stage 2</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>346</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>assign_stage</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>choice_unpack</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
