packages/code-analyzer-flowtest-engine/flowtest/test/test_data/flows/delete_example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>delete_example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>delete_example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>delete_record</name>
        <label>delete record</label>
        <locationX>454</locationX>
        <locationY>290</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id_input</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>enter_text</name>
        <label>enter_text</label>
        <locationX>454</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>delete_record</targetReference>
        </connector>
        <fields>
            <name>id_input</name>
            <dataType>String</dataType>
            <fieldText>Enter id to delete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>328</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>enter_text</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>id to delete</description>
        <name>id_to_delete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>id_input</elementReference>
        </value>
    </variables>
</Flow>
