packages/code-analyzer-flowtest-engine/flowtest/test/test_data/flows/expression_example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>607</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>id_to_delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>test_formula_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testsid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <description>test formula field 1</description>
        <name>test_formula_1</name>
        <dataType>String</dataType>
        <expression>{!id_input}+&quot;a&quot;</expression>
    </formulas>
    <formulas>
        <name>testsid</name>
        <dataType>String</dataType>
        <expression>GETSESSIONID()</expression>
    </formulas>
    <interviewLabel>expression_example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>expression_example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_record</name>
        <label>get_record</label>
        <locationX>607</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>id_input</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>sid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>enter_text</name>
        <label>enter_text</label>
        <locationX>449</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <fields>
            <name>id_input</name>
            <dataType>String</dataType>
            <fieldText>Enter id to delete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>328</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>enter_text</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>id to delete</description>
        <name>id_to_delete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>id_input</elementReference>
        </value>
    </variables>
    <variables>
        <name>sid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
