packages/code-analyzer-flowtest-engine/flowtest/test/test_data/flows/record_triggered_flow_example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>record_triggered_flow_example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>record_triggered_flow_example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>path3</name>
        <label>path3</label>
        <locationX>482</locationX>
        <locationY>440</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>&quot;working&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_case</name>
        <label>update_case</label>
        <locationX>957</locationX>
        <locationY>404</locationY>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>$User.Alias</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.CaseComments</inputReference>
    </recordUpdates>
    <start>
        <locationX>596</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>path3</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0055Y00000GUsIOQA1</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>scheduled_path1</name>
            <connector>
                <targetReference>update_case</targetReference>
            </connector>
            <label>scheduled_path1</label>
            <maxBatchSize>5</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
