packages/code-analyzer-flowtest-engine/flowtest/test/test_data/flows/record_screen_example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>has a screen flow with a record attached and fields associated to the record</description>
    <environments>Default</environments>
    <interviewLabel>record_screen_example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>record_screen_example</label>
    <loops>
        <name>loop_through_accounts</name>
        <label>loop_through accounts</label>
        <locationX>311</locationX>
        <locationY>354</locationY>
        <collectionReference>get_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>record_screen_flow_example</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>bulk_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_records</name>
        <label>get_records</label>
        <locationX>121</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>enter_name_text</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>bulk_update</name>
        <label>bulk_update</label>
        <locationX>307</locationX>
        <locationY>513</locationY>
        <connector>
            <targetReference>end_screen</targetReference>
        </connector>
        <inputReference>get_records</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>end_screen</name>
        <label>end_screen</label>
        <locationX>313</locationX>
        <locationY>690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>end</name>
            <fieldText>&lt;p&gt;done!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>enter name to search in accounts</description>
        <name>enter_name</name>
        <label>enter_name</label>
        <locationX>121</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_records</targetReference>
        </connector>
        <fields>
            <name>enter_name_text</name>
            <dataType>String</dataType>
            <fieldText>enter_name_text</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>record_screen_flow_example</name>
        <label>record_screen_flow_example</label>
        <locationX>494</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_through_accounts</targetReference>
        </connector>
        <fields>
            <name>display_text</name>
            <fieldText>&lt;p&gt;Account Name &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;(display only)&lt;/span&gt;: {!loop_through_accounts.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>loop_through_accounts.CustomerPriority__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>loop_through_accounts.Site</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>346</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>enter_name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
