packages/code-analyzer-flowtest-engine/flowtest/test/test_data/flows/record_choice_set_example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <choices>
        <description>reason</description>
        <name>a_choice</name>
        <choiceText>Do you want this choice</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>why?</promptText>
        </userInput>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <constants>
        <name>my_const_value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>foo</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>a_record_choice_set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>my_const_value</elementReference>
            </value>
        </filters>
        <limit>5</limit>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>holder_for_record_choice_query</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>this one gets all records and does not filter</description>
        <name>another_rec_choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>10</limit>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>case_origin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>example picklist choice</description>
        <name>my_case_status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>record_choice_set_example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>record_choice_set_example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_case_from_screen</name>
        <label>create_case_from_screen</label>
        <locationX>712</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>get_name</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>my_const_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>choice_response</name>
        <label>choice response</label>
        <locationX>486</locationX>
        <locationY>389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>choice_response_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>choice_response_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>choice_display</name>
                    <fieldText>&lt;p&gt;selected choice labels: {!choiceonscreen.selectedChoiceLabels}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;selected choice values: {!choiceonscreen.selectedChoiceValues}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>create_case</name>
        <label>create_case</label>
        <locationX>472</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_case_from_screen</targetReference>
        </connector>
        <fields>
            <name>status</name>
            <choiceReferences>my_case_status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>origin</name>
            <choiceReferences>case_origin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>subject</name>
            <dataType>String</dataType>
            <fieldText>subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account</name>
            <choiceReferences>another_rec_choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>get_name</name>
        <label>get name</label>
        <locationX>713</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>choice_response</targetReference>
        </connector>
        <fields>
            <name>enter_account_name</name>
            <dataType>String</dataType>
            <fieldText>enter account name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>choiceonscreen</name>
            <choiceReferences>a_choice</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>choice_on_screen</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>a_choice</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>346</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>create_case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>holder_for_record_choice_query</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
