packages/code-analyzer-flowtest-engine/flowtest/test/test_data/flows/test_sharing_system_mode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>test_sharing_system_w_sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>test_sharing_system_mode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_no_share</name>
        <label>create_private</label>
        <locationX>128</locationX>
        <locationY>207</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>new_field_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>field__c</field>
            <value>
                <elementReference>load_data.private_field__c</elementReference>
            </value>
        </inputAssignments>
        <object>not_shared__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>load_data</name>
        <label>load data</label>
        <locationX>408</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_no_share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>shared__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>282</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>load_data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>new_field_id</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;Start &quot; + {!$Flow.InterviewStartTime}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
