packages/code-analyzer-flowtest-engine/flowtest/integration_test/test_data/functional_data/example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>if title is not default, then description is default</description>
        <name>assign_default_description</name>
        <label>assign default description</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>description2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>default description</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assigns a user controlled global value to description if title contains a dummy field</description>
        <name>assign_description_based_on_title</name>
        <label>assign description based on title</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>description2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>randomize_last_name_and_phone</name>
        <label>randomize last name and phone</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>fixed_last_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>random_last_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fixed_phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>randomize_phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>decide based on title</description>
        <name>title_decision</name>
        <label>title decision</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>assign_default_description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>title_dummy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>title2</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>provided</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_description_based_on_title</targetReference>
            </connector>
            <label>title_dummy</label>
        </rules>
    </decisions>
    <description>example with form inputs to assign to record values, title can be passed as url param</description>
    <environments>Default</environments>
    <formulas>
        <description>randomizes last name via concatenation</description>
        <name>random_last_name</name>
        <dataType>String</dataType>
        <expression>{!Last_Name}&amp;SUBSTITUTE(SUBSTITUTE(TEXT(NOW()),&quot;-&quot;, &quot;&quot;), &quot;:&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>randomizes phone</description>
        <name>randomize_phone</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT(TEXT(UNIXTIMESTAMP(NOW())),10))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Example_CreateLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Example_CreateLead</label>
    <loops>
        <description>loop over recently made leads</description>
        <name>loop_over_recent_leads</name>
        <label>loop over recent leads</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <collectionReference>recent_leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_lead</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>bye_text</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a lead with user entered data</description>
        <name>Copy_1_of_Create_Lead</name>
        <label>Copy 1 of Create Lead</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <assignRecordIdToReference>created_id</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_id_return</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>description2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>fixed_last_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>fixed_phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>title</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a lead with user entered data</description>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignRecordIdToReference>created_id</assignRecordIdToReference>
        <connector>
            <targetReference>id_return</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_handle</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>description2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>title</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>get_recent_leads</name>
        <label>get_recent_leads</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_recent_leads</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>loop_over_recent_leads</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>updates a lead</description>
        <name>update_lead</name>
        <label>update lead</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>loop_over_recent_leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_over_recent_leads.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>bye_text</name>
        <label>bye text</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>bye</name>
            <fieldText>&lt;p&gt;bye&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>returns id of created field</description>
        <name>Copy_1_of_id_return</name>
        <label>Copy 1 of id return</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_result_data</name>
            <fieldText>&lt;p&gt;id of created lead is: {!created_id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;provided title is: {!title}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>fault_handle</name>
        <label>fault_handle</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>randomize_last_name_and_phone</targetReference>
        </connector>
        <fields>
            <name>fault_message_contents</name>
            <fieldText>&lt;p&gt;an error occurred {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Form_Entry</name>
        <label>Form Entry</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>title_decision</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>returns id of created field</description>
        <name>id_return</name>
        <label>id return</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_recent_leads</targetReference>
        </connector>
        <fields>
            <name>result_data</name>
            <fieldText>&lt;p&gt;id of created lead is: {!created_id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;provided title is: {!title}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>intro</name>
        <label>intro</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Form_Entry</targetReference>
        </connector>
        <fields>
            <name>intro_text</name>
            <fieldText>&lt;p&gt;let&apos;s create a lead!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>intro</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>id of created lead</description>
        <name>created_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>description variable</description>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>no description provided</stringValue>
        </value>
    </variables>
    <variables>
        <description>final value of description field</description>
        <name>description2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>intermediate value of first name</description>
        <name>firstname2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>last value of first name</description>
        <name>firstname3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>fixed last name</description>
        <name>fixed_last_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>fixes phone number</description>
        <name>fixed_phone</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recent_leads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>user supplied title for lead</description>
        <name>title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No Title Provided</stringValue>
        </value>
    </variables>
    <variables>
        <description>intermediate value of title</description>
        <name>title2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
