packages/code-analyzer-flowtest-engine/flowtest/test/test_data/scratch_orgs/another_project/force-app/main/default/flows/Meeting_Outcome_Screen_Flow_Create_Meeting_Outcome.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Manufacturer_Selected_to_List</name>
        <label>Add Manufacturer Selected to List</label>
        <locationX>743</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>ManufactuerOutcomesCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Flow_BulletPointedManufacturer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Meeting_Attendees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Manufacturer_Selected_to_List_0</name>
        <label>Add Manufacturer Selected to List</label>
        <locationX>899</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ManufactuerOutcomesCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MO_BulletPointedManufacturer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Meeting_Outcomes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Meeting Attendee Update Collection with singular Meeting Attendee record</description>
        <name>Add_to_Meeting_Attendee_Update_Collection</name>
        <label>Add to Meeting Attendee Update Collection</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>MeetingAttendeeRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateMeetingAttendees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_for_Semi_Colon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns selected Meeting Attendee records to a single text variable</description>
        <name>Assign_Meeting_Attendee_List</name>
        <label>Assign Meeting Attendee List</label>
        <locationX>743</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>SelectedMeetingAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meeting_Attendee_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Meeting_Outcome_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the selected Meeting Attendee to the Meeting Outcome</description>
        <name>Assign_Meeting_Attendee_to_Meeting_Outcome</name>
        <label>Assign Meeting Attendee to Meeting Outcome</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>UpdateMeetingAttendees.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedMeetingAttendees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateMeetingAttendees.Meeting_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Meeting_Outcome_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedMeetingAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_Meeting_Attendee_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns remaining list of selected Meeting Attendees to newly created Meeting Outcome</description>
        <name>Assign_Meeting_Attendees_To_Meeting_Outcome</name>
        <label>Assign Meeting Attendees To Meeting Outcome</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>UpdateMeetingAttendees.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentMeetingAttendeeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateMeetingAttendees.Meeting_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Meeting_Outcome_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_First_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removes the first Meeting Attendee ID from the selected list</description>
        <name>Remove_First_Id</name>
        <label>Remove First Id</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>SelectedMeetingAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrimSelectedMeetingAttendee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Meeting_Attendee_Update_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check whether multiple Meeting Attendee records were selected in the Create Meeting Outcome screen</description>
        <name>Check_for_Semi_Colon</name>
        <label>Check for Semi Colon</label>
        <locationX>380</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Update_Meeting_Attendee_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Semi_Colon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedMeetingAttendees</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedMeetingAttendees</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Meeting_Attendees_To_Meeting_Outcome</targetReference>
            </connector>
            <label>Has Semi Colon</label>
        </rules>
        <rules>
            <name>No_Semi_Colon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedMeetingAttendees</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Meeting_Attendee_to_Meeting_Outcome</targetReference>
            </connector>
            <label>No Semi Colon</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether Meeting Attendees were selected in the Create Meeting Outcome Screen</description>
        <name>Check_Meeting_Attendees</name>
        <label>Check Meeting Attendees</label>
        <locationX>743</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>More_Meeting_Outcomes_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting_Attendees_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Meeting_Attendee_List</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Semi_Colon</targetReference>
            </connector>
            <label>Meeting Attendees Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the Meeting record already have Meeting Outcomes?</description>
        <name>Has_Meeting_Outcomes</name>
        <label>Has Meeting Outcomes</label>
        <locationX>743</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Meeting_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting_Outcome_Exist_Single_Meeting_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Meeting_Outcomes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MEETabl_General_Settings_CMDT.Allow_Multiple_Outcomes__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meeting_Outcome_Already_Exists</targetReference>
            </connector>
            <label>Meeting Outcome Exist &amp; Single Meeting Outcome</label>
        </rules>
        <rules>
            <name>Meeting_Outcomes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Meeting_Outcomes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Meeting_Outcomes</targetReference>
            </connector>
            <label>Meeting Outcomes Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is there more meeting outcome records to create based on the toggle on the Create Meeting Outcome screen?</description>
        <name>More_Meeting_Outcomes_to_Create</name>
        <label>More Meeting Outcomes to Create?</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateMoreRecords.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_Meeting_Outcome</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create Meeting Outcome records triggered via a button on the Meeting record. Create multiple Meeting Outcomes and link outcomes to Meeting Attendees</description>
    <dynamicChoiceSets>
        <description>Manufacturers_Represented__c picklist from the User record. List of Manufacturers that the user could represent in a meeting.</description>
        <name>ManufacturersRepresented</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Manufacturers_Represented__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Record collection of Meeting Attendees associated with the Meeting and do not have an associated Meeting Outcome</description>
        <name>MeetingAttendee</name>
        <dataType>String</dataType>
        <displayField>Attendee_Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meeting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Meeting_Outcome__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Meeting_Attendee__c</object>
        <outputAssignments>
            <assignToReference>SelectedMeetingAttendees</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Attendee_Full_Name__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Escalation_Required__c from Meeting_Outcome__c picklist values of Yes or No</description>
        <name>MeetingOutcome_EscalationRequired</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Escalation_Required__c</picklistField>
        <picklistObject>Meeting_Outcome__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Pain_Points__c from Meeting_Outcome__c multi-select picklist</description>
        <name>MeetingOutcome_PainPoints</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pain_Points__c</picklistField>
        <picklistObject>Meeting_Outcome__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Holds the first Meeting Attendee ID if there is multiple selections</description>
        <name>currentMeetingAttendeeId</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM({!SelectedMeetingAttendees}),18)</expression>
    </formulas>
    <formulas>
        <description>Meeting Outcome manufacturers represented formatted to remove comma and brackets to display properly</description>
        <name>FormattedManufacturersRepresented</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!ManufactuerOutcomesCreated},&quot;,&quot;,&quot;&quot;),&quot;]&quot;,&quot;&quot;),&quot;[&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Evaluates if the meeting record has manufactures that they represent, evaluated from their user record</description>
        <name>MeetingHasManufacturers</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!Get_Meeting_Record.Manufacturers_Represented__c}), FALSE, TRUE)</expression>
    </formulas>
    <formulas>
        <description>Holds the rest of the selected Meeting Attendee IDs except the first one selected</description>
        <name>TrimSelectedMeetingAttendee</name>
        <dataType>String</dataType>
        <expression>RIGHT(TRIM({!SelectedMeetingAttendees}), LEN(TRIM({!SelectedMeetingAttendees}))-19)</expression>
    </formulas>
    <interviewLabel>Meeting Outcome | Screen Flow | Create Meeting Outcome {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Meeting Outcome | Screen Flow | Create Meeting Outcome</label>
    <loops>
        <description>Loop all Meeting Outcomes record found to add Manufacturers Represented to a collection</description>
        <name>Loop_Meeting_Outcomes</name>
        <label>Loop Meeting Outcomes</label>
        <locationX>811</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Meeting_Outcomes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Manufacturer_Selected_to_List_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Meeting_Outcome</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Meeting Outcome records from collection: NewMeetingOutcomeCollection</description>
        <name>Create_Meeting_Outcome_Records</name>
        <label>Create Meeting Outcome Records</label>
        <locationX>743</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Add_Manufacturer_Selected_to_List</targetReference>
        </connector>
        <inputAssignments>
            <field>Competitor_Intel__c</field>
            <value>
                <elementReference>Competitor_Intel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Response__c</field>
            <value>
                <elementReference>Customer_Response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Required__c</field>
            <value>
                <elementReference>Escalation_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Comments__c</field>
            <value>
                <elementReference>Internal_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Competitor__c</field>
            <value>
                <elementReference>MainCompetitor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer_Represented__c</field>
            <value>
                <elementReference>Manufacture_Represented</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pain_Points__c</field>
            <value>
                <elementReference>Pain_Points</elementReference>
            </value>
        </inputAssignments>
        <object>Meeting_Outcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the MEETabl General Settings CMDT record to determine if multiple Meeting Outcome records can be created or not</description>
        <name>Get_MEETabl_General_Settings_CMDT</name>
        <label>Get MEETabl General Settings CMDT</label>
        <locationX>743</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meeting_Record</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MEETabl_General_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Meeting Outcome records on the Meeting</description>
        <name>Get_Meeting_Outcomes</name>
        <label>Get Meeting Outcomes</label>
        <locationX>743</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Meeting_Outcomes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meeting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Meeting_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Meeting_Outcome__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Meeting record details to be used throughout this flow. The flow is triggered from the Meeting object.</description>
        <name>Get_Meeting_Record</name>
        <label>Get Meeting Record</label>
        <locationX>743</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meeting_Outcomes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meeting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the selected Meeting Attendee records with the newly created Meeting Outcome</description>
        <name>Update_Meeting_Attendee_Collection</name>
        <label>Update Meeting Attendee Collection</label>
        <locationX>710</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>More_Meeting_Outcomes_to_Create</targetReference>
        </connector>
        <inputReference>MeetingAttendeeRecordsToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Screen to allow the user to create one or multiple Meeting Outcome record</description>
        <name>Create_Meeting_Outcome</name>
        <label>Create Meeting Outcome</label>
        <locationX>743</locationX>
        <locationY>1070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Meeting_Attendee_List</targetReference>
        </connector>
        <fields>
            <name>Manufacturer_Selection</name>
            <fieldText>Manufacturer Selection</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Manufacturer_Selection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OutcomesCreatedfor</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Outcomes Created for:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!FormattedManufacturersRepresented}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Manufacturer_Selection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Manufacture_Represented</name>
                    <choiceReferences>ManufacturersRepresented</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Manufacture Represented</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MeetingHasManufacturers</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MeetingHasManufacturers</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Meeting_Attendee_Selection</name>
            <fieldText>Meeting Attendee Selection</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Meeting_Attendee_Selection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Meeting_Attendee_List</name>
                    <choiceReferences>MeetingAttendee</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Meeting Attendee List</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select attendee to apply the Meeting Outcome too. More than one attendee record can be selected.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Notes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customer_Response</name>
                    <fieldText>Customer Response</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Internal_Comments</name>
                    <fieldText>Internal Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Competitor_Intelligence</name>
            <fieldText>Competitor Intelligence</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Competitor_Intelligence_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Escalation_Required</name>
                    <choiceReferences>MeetingOutcome_EscalationRequired</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>No</stringValue>
                    </defaultValue>
                    <fieldText>Escalation Required?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Select &quot;Yes&quot; if there is a need to escalate the outcome of the meeting. These outcomes are flagged in Meeting Reports&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pain_Points</name>
                    <choiceReferences>MeetingOutcome_PainPoints</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pain Points</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Competitor_Intelligence_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MainCompetitor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>METabl__Main_Competitor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Main Competitor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>METabl__Meeting_Outcome__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Competitor_Intel</name>
                    <fieldText>Competitor Intel</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Meeting_Outcome_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Meeting_Outcome_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateMoreRecords</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Create more outcomes?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_MEETabl_General_Settings_CMDT.Allow_Multiple_Outcomes__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Meeting_Outcome_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error message screen if the CMDT for creating multiple meeting outcomes if FALSE and there is already an existing meeting outcome record created</description>
        <name>Meeting_Outcome_Already_Exists</name>
        <label>Meeting Outcome Already Exists</label>
        <locationX>459</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Only one Meeting Outcome record can be created per Meeting. Please remove or edit the existing Meeting Outcome record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MEETabl_General_Settings_CMDT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Meeting Outcome records created by the flow with selected Manufacturer in bullet point format</description>
        <name>Flow_BulletPointedManufacturer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!Manufacture_Represented}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Existing Meeting Outcome manufacturers represented in bullet point format</description>
        <name>MO_BulletPointedManufacturer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!Loop_Meeting_Outcomes.Manufacturer_Represented__c}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>ManufactuerOutcomesCreated</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Meeting Attendee records to update with newly created Meeting Outcome record</description>
        <name>MeetingAttendeeRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Meeting_Attendee__c</objectType>
    </variables>
    <variables>
        <description>Meeting record Id passed in via the button that calls the screen flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Denotes the selected Meeting Attendee records to create the Meeting Outcome against</description>
        <name>SelectedMeetingAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Meeting Attendee list to update with newly created Meeting Outcome record</description>
        <name>UpdateMeetingAttendees</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Meeting_Attendee__c</objectType>
    </variables>
</Flow>
