packages/code-analyzer-flowtest-engine/flowtest/test/test_data/scratch_orgs/FlowExample/force-app/main/default/flows/inner_subflow_example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_enter_to_output</name>
        <label>assign enter to output</label>
        <locationX>393</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>output_var1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>combine_vars</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>flow called from parent</description>
    <environments>Default</environments>
    <formulas>
        <description>combines id from created case together with user input</description>
        <name>combine_vars</name>
        <dataType>String</dataType>
        <expression>{!create_case} + {!enter_text_subflow}</expression>
    </formulas>
    <interviewLabel>inner_subflow_example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>inner_subflow_example</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_case</name>
        <label>create_case</label>
        <locationX>618</locationX>
        <locationY>564</locationY>
        <connector>
            <targetReference>assign_enter_to_output</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>input_var1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>input_var1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>enter text in subflow</description>
        <name>enter_in_subflow</name>
        <label>enter in subflow</label>
        <locationX>618</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_case</targetReference>
        </connector>
        <fields>
            <name>enter_text_subflow</name>
            <dataType>String</dataType>
            <fieldText>enter_text_subflow</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_in_subflow</name>
        <label>screen_in_subflow</label>
        <locationX>617</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>enter_in_subflow</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;Variable passed was  {!input_var1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>491</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen_in_subflow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>input_var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>output_var1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
