packages/code-analyzer-flowtest-engine/flowtest/test/test_data/scratch_orgs/FlowExample/force-app/main/default/flows/simpleContactEmailLookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>assign input to name var</description>
        <name>assign</name>
        <label>assign1</label>
        <locationX>470</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>enter_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign name2 to name</description>
        <name>assign2</name>
        <label>assign2</label>
        <locationX>475</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>name2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRecords</targetReference>
        </connector>
    </assignments>
    <description>simple contact email lookup</description>
    <environments>Default</environments>
    <interviewLabel>simpleContactEmailLookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>simpleContactEmailLookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRecords</name>
        <label>getRecords</label>
        <locationX>487</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>displayRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>name2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>displayRecord</name>
        <label>displayRecord</label>
        <locationX>665</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_record</name>
            <fieldText>&lt;p&gt;{!getRecords.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>input name</description>
        <name>input_name</name>
        <label>input name</label>
        <locationX>467</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <fields>
            <name>EnterName</name>
            <fieldText>&lt;p&gt;Enter Name&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>enter_name</name>
            <dataType>String</dataType>
            <fieldText>enter name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>338</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>input_name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>variabel to store user input</description>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>assigned name value</description>
        <name>name2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>assigned value</description>
        <name>name3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
