packages/code-analyzer-flowtest-engine/flowtest/test/test_data/scratch_orgs/FlowExample/force-app/main/default/flows/type_obj_assign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_object_to_variable</name>
        <label>assign object to variable</label>
        <locationX>513</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>account_holder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>display_record</targetReference>
        </connector>
    </assignments>
    <description>tests to see how we assign one object to another</description>
    <environments>Default</environments>
    <interviewLabel>type_obj_assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>type_obj_assign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_accounts</name>
        <label>get_accounts</label>
        <locationX>513</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_object_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Dick</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>display_record</name>
        <label>display record</label>
        <locationX>343</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>account_holder.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>account_holder.Description</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>387</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account_holder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
