packages/code-analyzer-flowtest-engine/flowtest/test/test_data/scratch_orgs/FlowExample/force-app/main/default/flows/type_collection_create_read.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_object_to_variable</name>
        <label>assign object to variable</label>
        <locationX>513</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>collection_holder_accounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_id_to_null</name>
        <label>set id to null</label>
        <locationX>142</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>loop.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>display_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>type_collection_create_read {!$Flow.CurrentDateTime}</interviewLabel>
    <label>type_collection_create_read</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>315</locationX>
        <locationY>299</locationY>
        <collectionReference>collection_holder_accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_id_to_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_bulk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_bulk</name>
        <label>create_bulk</label>
        <locationX>316</locationX>
        <locationY>502</locationY>
        <inputReference>collection_holder_accounts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_accounts</name>
        <label>get_accounts</label>
        <locationX>513</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_object_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Dick</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>display_record</name>
        <label>display record</label>
        <locationX>59</locationX>
        <locationY>352</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>loop.Description</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>loop.Name</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>387</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account_holder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>collection_holder_accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
